<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
{% stylesheets '@AppBundle/Resources/public/css/sudoku.css'
               '@AppBundle/Resources/public/css/bootstrap.min.css'
                filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% javascripts '@AppBundle/Resources/public/js/jquery-3.1.0.min.js' %}
        <script src="{{ asset_url }}"></script>
{% endjavascripts %} 
</head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
