{% extends 'base.html.twig' %}

{% block body %}
    Choisir une taille de grille<br>
    <ul>
        <li><a href="4">4</a></li>
        <li><a href="9">9</a></li>
        <li><a href="16">16</a></li>
        <li><a href="25">25</a></li>
    </ul>
{% endblock %}
